@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.hero-bg {
  background: url(./../public/assets/images/img10.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}